:root {
    --peach: #f7e0d9;
    --powder: #c7eee5;
}

body {
    font: 20px Arial, sans-serif;
    color: #ffffff;
}

.navbar {
    background-color: var(--peach);
}

.about-us {
    background-color: var(--powder);
}

.margin {
    padding-top: 10px;
    padding-bottom: 50px;
}

.parterns {
    background-color: var(--peach);
}

.services {
    background-color: var(--powder);
}

.bg-footer {
    background-color: var(--peach);
}