body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #a9eafa;
}

.about-us {
    background-color: rgb(141, 214, 243);
    color: #fff;
}

.margin {
    padding-top: 10px;
    padding-bottom: 50px;
}

.parterns {
    background-color: rgb(163, 219, 241);
    color: #fff;
}

.bg-footer {
    background-color: #000;
    color: #fff;
}